# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Migrations (кроме __init__.py)
**/migrations/[0-9]*.py

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore

# Node.js (для фронтенда)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/dist/
frontend/redis-7.0.0/runtest
frontend/redis-7.0.0/runtest-cluster
frontend/redis-7.0.0/runtest-moduleapi
frontend/redis-7.0.0/runtest-sentinel
frontend/redis-7.0.0/deps/hiredis/test.sh
frontend/redis-7.0.0/deps/jemalloc/autogen.sh
frontend/redis-7.0.0/deps/jemalloc/run_tests.sh
frontend/redis-7.0.0/deps/jemalloc/build-aux/config.guess
frontend/redis-7.0.0/deps/jemalloc/build-aux/config.sub
frontend/redis-7.0.0/deps/jemalloc/build-aux/install-sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/jemalloc_mangle.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/jemalloc_rename.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/jemalloc.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/internal/private_namespace.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/internal/private_symbols.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/internal/public_namespace.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/internal/public_unnamespace.sh
frontend/redis-7.0.0/deps/jemalloc/include/jemalloc/internal/smoothstep.sh
frontend/redis-7.0.0/deps/jemalloc/scripts/gen_run_tests.py
frontend/redis-7.0.0/deps/jemalloc/scripts/gen_travis.py
frontend/redis-7.0.0/src/mkreleasehdr.sh
frontend/redis-7.0.0/src/redis-trib.rb
frontend/redis-7.0.0/tests/sentinel/tests/helpers/check_leaked_fds.tcl
frontend/redis-7.0.0/utils/gen-test-certs.sh
frontend/redis-7.0.0/utils/generate-command-code.py
frontend/redis-7.0.0/utils/generate-command-help.rb
frontend/redis-7.0.0/utils/generate-commands-json.py
frontend/redis-7.0.0/utils/generate-module-api-doc.rb
frontend/redis-7.0.0/utils/install_server.sh
frontend/redis-7.0.0/utils/redis_init_script
frontend/redis-7.0.0/utils/redis_init_script.tpl
frontend/redis-7.0.0/utils/speed-regression.tcl
frontend/redis-7.0.0/utils/whatisdoing.sh
frontend/redis-7.0.0/utils/create-cluster/create-cluster
frontend/redis-7.0.0/utils/graphs/commits-over-time/genhtml.tcl
frontend/redis-7.0.0/utils/releasetools/01_create_tarball.sh
frontend/redis-7.0.0/utils/releasetools/02_upload_tarball.sh
frontend/redis-7.0.0/utils/releasetools/03_test_release.sh
frontend/redis-7.0.0/utils/releasetools/04_release_hash.sh
frontend/redis-7.0.0/utils/releasetools/changelog.tcl
# Redis files (should not be in frontend)
*.rdb
dump.rdb
appendonly.aof
redis/
