/* profile.css */
.profile-container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 40px;
    margin: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 20px 0;
}

.profile-username {
    font-size: 36px;
}

.profile-user-description {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
}

.profile-details {
    text-align: left;
    margin-top: 40px;
}

.profile-detail {
    margin-bottom: 20px;
}

.detail-label {
    font-weight: bold;
    margin-right: 20px;
    color: #007bff;
    font-size: 20px;
}

.detail-value {
    font-weight: normal;
    color: #333;
    font-size: 24px;
}

.call-next-button {
    width: 160px; /* Set explicit width */
    height: 55px; /* Set explicit height */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.call-next-button:hover {
    background-color: #0056b3;
}

.call-next-button:focus {
    outline: none;
}


.last-called-ticket {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 40px;
}


.logout-button {
    width: 160px; /* Set explicit width */
    height: 55px; /* Set explicit height */
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
}

.logout-button:focus {
    outline: none;
}

